#section {
  width: 224px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 8px;
  display: flex;
}

#section-no-bottom {
  width: 224px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  display: flex;
}
